*

!.editorconfig

!.gitignore

!.npmignore

!.npmrc

!LICENSE

!*.json
!*.md
!*.sh
!*.txt
!*.xml

!*.css
!*.html
!*.js
!*.mjs
!*.ts

!*.ico
!*.gif
!*.jpeg
!*.jpg
!*.svg
!*.png

!*/

!*/.gitignore

!*/.editorconfig

!*/LICENSE

!*/*.json
!*/*.md
!*/*.sh
!*/*.txt
!*/*.xml

!*/*.css
!*/*.html
!*/*.js
!*/*.mjs
!*/*.ts

!*/*.ico
!*/*.gif
!*/*.jpeg
!*/*.jpg
!*/*.png
!*/*.svg

package-lock.json

node_modules
node_modules/**/*.*
